.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 1564px;
  height: 66px;

  margin: 48px auto 0 auto;

  gap: 20px;
}

/* --- LOGO --- */
.navbar-logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 66px;
  color: #ffffff;
}

.navbar-search-frame {
  display: flex;
  align-items: center;

  width: 390px;
  height: 60px;
  padding-left: 28px;

  background: rgba(255, 255, 255, 0.29);
  box-shadow: 4px 4px 4px rgba(149, 149, 149, 0.2),
    inset 4px 4px 4px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 51px;

  gap: 15px;
}

.navbar-search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;

  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

  &::placeholder {
    color: #ffffff;
    opacity: 0.8;
  }
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.navbar-icon-bag {
  background: #ffffff;
  & .icon {
    stroke: #ffa4a5;
    stroke-width: 1.3px;
  }
}

.navbar-icon-user {
  background: #ffa4a5;
  & .icon {
    stroke: #ffffff;
    stroke-width: 1.4px;
  }
}

.navbar-icon-search-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 54px;
  height: 54px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: -4px 0px 6px rgba(168, 168, 168, 0.25),
    inset 3px 4px 4px rgba(255, 255, 255, 0.25),
    inset -5px -3px 4px rgba(255, 81, 128, 0.3);
  backdrop-filter: blur(2px);
  margin-right: 5px;

  & .icon {
    stroke: #ffffff;
    stroke-width: 2px;
  }
}
