.custom-painting-page-wrapper {
  /* width: 1728px; */
  min-height: 1117px;
  background: #ffffff;

  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

.custom-painting-header {
  /* position: absolute; */
  width: 680px;
  height: 184px;

  margin-left: 69px;
  margin-top: 65px;

  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 79px;
  line-height: 92px;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 1728px) {
  .custom-painting-page-wrapper {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .custom-painting-header {
    width: 90%;
    font-size: 50px;
    line-height: 60px;
    margin-left: 20px;
    margin-top: 40px;
    height: auto;
  }
}
