.top-rated-page-wrapper {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  padding: 41px 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  padding-bottom: 150px;
}

.page-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 0 82px;
}

.header-title {
  font-family: 'SF Pro', sans-serif;
  font-weight: 270;
  font-size: 72px;
  line-height: 86px;
  text-transform: capitalize;
  color: #000000;
}

.header-decoration {
  display: flex;
  align-items: center;
  position: absolute;
  top: 100px;
  width: 470px;
  left: 0;
}

.line-divider {
  width: 420px;
  height: 0;
  border-top: 2px solid #000000;
  margin-right: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
}

.dot-filled {
  background: #ffa4a5;
}

.dot-bordered {
  box-sizing: border-box;
  border: 1px solid #000000;
}

.header-filters {
  display: flex;

  /* margin-right: 50px; */
}

.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 32px;
  height: 41px;
  border-radius: 60px;
  cursor: pointer;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  margin-left: 16px;
  transition: all 0.2s;
}

.filter-active {
  background: #000000;
  color: #ffffff;
}

.filter-inactive {
  background: #f0f0f0;
  color: #5e5e5e;
}

.header-view-all {
  font-family: 'SF Pro', sans-serif;
  font-weight: 540;
  font-size: 52px;
  line-height: 62px;
  text-transform: capitalize;
  color: #ffa4a5;
  cursor: pointer;
}

.cards-section-container {
  /* DEFAULT (PORTRAIT MODE) */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding-top: 150px;
  width: 100%;
}

.art-display-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.art-display-card .card-image-container {
  /* Portrait aspect ratio */
  height: 652px;
  background-color: #d9d9d9;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.card-title {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-transform: capitalize;
  color: #000000;
  max-width: 70%;
}

.card-view-link {
  font-family: 'SF Pro', sans-serif;
  font-weight: 540;
  font-size: 32px;
  line-height: 38px;
  text-transform: capitalize;
  color: #ffa4a5;
  cursor: pointer;
}

.cards-section-container.landscape-active {
  display: flex;
  flex-wrap: nowrap;

  overflow-x: auto;
  overflow-y: hidden;

  gap: 40px;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.cards-section-container.landscape-active::-webkit-scrollbar {
  display: none;
}

.cards-section-container.landscape-active .art-display-card {
  flex-shrink: 0;
  width: 100%;
  max-width: 1107px;
  grid-column: unset;
}

.cards-section-container.landscape-active
  .art-display-card
  .card-image-container {
  height: 652px;
}
