@import 'tailwindcss';
:root {
  --color-primary: #1e293b;
  --color-secondary: #3b82f6;
  --color-background: #f8fafc;
  --color-text: #0f172a;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

@font-face {
  font-family: 'Optima LT Std';
  src: url('./assets/fonts/OptimaLTStd-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Optima LT Std: Italic (400) */
@font-face {
  font-family: 'Optima LT Std';
  src: url('./assets/fonts/OptimaLTStd-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Optima LT Std: Semi-Bold (600) */
@font-face {
  font-family: 'Optima LT Std';
  src: url('./assets/fonts/OptimaLTStd-Medium.otf') format('opentype'); /* Assuming Medium or Bold maps to 600 */
  font-weight: 600;
  font-style: normal;
}
