@import 'tailwindcss';

:root {
  --color-primary: #1e293b;
  --color-secondary: #3b82f6;
  --color-background: #f8fafc;
  --color-text: #0f172a;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
